<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SchoolNet</title>
</head>
<body>
    <h1>SchoolNet</h1>
     <select name="">
         <option selected>Choose a name</option>
          <% students.forEach( student => { %>
          <option><%= student.name %></option>
          <% }) %>
     </select>
</body>
</html>